{% extends 'layout/base.html' %}

{% block content %}
    <div class="relative max-lg:hidden">
        <aside class="min-w-72 flex flex-col gap-4 sticky top-24">
            <section class="p-4 bg-blue-500 rounded-md">
                <ul class="flex flex-col gap-2">
                    <li>
                        {% include 'agendamentos/partials/appointment_card.html' with date="08/11" time="13:00" %}
                    </li>
                    <li>
                        {% include 'agendamentos/partials/appointment_card.html' with date="21/11" time="15:20" %}
                    </li>
                    <li>
                        {% include 'agendamentos/partials/appointment_card.html' with date="09/12" time="07:45" %}
                    </li>
                    <li>
                        {% include 'agendamentos/partials/appointment_card.html' with date="23/12" time="12:30" %}
                    </li>
                </ul>
            </section>
            <section class="p-4 bg-blue-500 rounded-md">
                <ul class="flex flex-col gap-2">
                    <li>
                        {% include 'servicos/partials/services_card.html' with service="Construção Civil" %}
                    </li>
                    <li>
                        {% include 'servicos/partials/services_card.html' with service="Cuidados Domésticos" %}
                    </li>
                    <li>
                        {% include 'servicos/partials/services_card.html' with service="Artes Gráficas" %}
                    </li>
                </ul>
            </section>
        </aside>
    </div>
    <main class="flex flex-col gap-4 grow">
        <article class="flex flex-col p-4 bg-zinc-100 gap-4 rounded-md max-sm:gap-2">
            <div class="w-full flex gap-2">
                <img
                    class="rounded-xl"
                    src="https://fastly.picsum.photos/id/877/48/48.jpg?hmac=KtpJVsvoZd0hVmW6-JFMlkmXCqut3xK1fT8A9Ag7PbY"
                    alt="User profile image"
                    width="48"
                    height="48"
                >
                <div class="w-full flex flex-col">
                    <h3 class="text-xl">Lorem Ipsum Dolor</h3>
                    {% include 'partials/stars.html' %}
                </div>
            </div>
            <p class="w-full">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem tempore praesentium optio ut repellendus expedita laborum natus cumque. Maiores laudantium vitae modi, provident nobis unde, excepturi officiis assumenda est quo repellendus sunt maxime! Corporis nulla accusantium, optio illo deserunt pariatur quia omnis? Doloribus rem facere accusamus quibusdam labore, eum, vitae dolorum commodi, a veritatis perferendis id necessitatibus nisi laudantium cumque dolore ea pariatur quis quae nostrum. Illum distinctio dolore nisi tempore, incidunt atque? Quod, esse!
            </p>
        </article>
        <article class="flex flex-col p-4 bg-zinc-100 gap-4 rounded-md max-sm:gap-2">
            <div class="w-full flex gap-2">
                <img
                    class="rounded-xl"
                    src="https://fastly.picsum.photos/id/877/48/48.jpg?hmac=KtpJVsvoZd0hVmW6-JFMlkmXCqut3xK1fT8A9Ag7PbY"
                    alt="User profile image"
                    width="48"
                    height="48"
                >
                <div class="w-full flex flex-col">
                    <h3 class="text-xl">Lorem Ipsum Dolor</h3>
                    {% include 'partials/stars.html' %}
                </div>
            </div>
            <p class="w-full">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum dignissimos officia pariatur quam dolores ipsa minus, facere facilis quaerat assumenda harum modi? Sint, ullam at alias ratione aut in unde.
            </p>
        </article>
        <article class="flex flex-col p-4 bg-zinc-100 gap-4 rounded-md max-sm:gap-2">
            <div class="w-full flex gap-2">
                <img
                    class="rounded-xl"
                    src="https://fastly.picsum.photos/id/877/48/48.jpg?hmac=KtpJVsvoZd0hVmW6-JFMlkmXCqut3xK1fT8A9Ag7PbY"
                    alt="User profile image"
                    width="48"
                    height="48"
                >
                <div class="w-full flex flex-col">
                    <h3 class="text-xl">Lorem Ipsum Dolor</h3>
                    {% include 'partials/stars.html' %}
                </div>
            </div>
            <p class="w-full">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta officia molestias omnis quam, deserunt velit veniam a libero possimus fugiat maiores praesentium voluptate nisi ipsa. Inventore ut earum nostrum eaque ullam modi mollitia quo expedita iusto rerum accusamus asperiores tenetur, praesentium esse deleniti, sint eum harum similique reiciendis facilis! Amet cum provident quisquam recusandae non laborum culpa quidem temporibus pariatur ipsum. Animi, nostrum minima dicta saepe enim cumque optio ex distinctio necessitatibus? Suscipit ab praesentium harum dignissimos vero sint fugiat similique omnis beatae assumenda quibusdam quia dolores quam iusto ea dicta, sit minus distinctio error tenetur consequuntur. Facilis error repellat officiis ad cum architecto sunt consectetur deleniti, recusandae, incidunt ipsam aspernatur necessitatibus atque quisquam accusamus dolore, laudantium quis enim. Iure?
            </p>
        </article>
        <article class="flex flex-col p-4 bg-zinc-100 gap-4 rounded-md max-sm:gap-2">
            <div class="w-full flex gap-2">
                <img
                    class="rounded-xl"
                    src="https://fastly.picsum.photos/id/877/48/48.jpg?hmac=KtpJVsvoZd0hVmW6-JFMlkmXCqut3xK1fT8A9Ag7PbY"
                    alt="User profile image"
                    width="48"
                    height="48"
                >
                <div class="w-full flex flex-col">
                    <h3 class="text-xl">Lorem Ipsum Dolor</h3>
                    {% include 'partials/stars.html' %}
                </div>
            </div>
            <p class="w-full">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem tempore praesentium optio ut repellendus expedita laborum natus cumque. Maiores laudantium vitae modi, provident nobis unde, excepturi officiis assumenda est quo repellendus sunt maxime! Corporis nulla accusantium, optio illo deserunt pariatur quia omnis? Doloribus rem facere accusamus quibusdam labore, eum, vitae dolorum commodi, a veritatis perferendis id necessitatibus nisi laudantium cumque dolore ea pariatur quis quae nostrum. Illum distinctio dolore nisi tempore, incidunt atque? Quod, esse!
            </p>
        </article>
    </main>
{% endblock %}