<header class="sticky top-0 color-primary max-sm:px-4 min-h-[70px]">
    <div class="navbar w-auto max-w-[1140px] mx-auto px-[50px] box-content justify-between max-sm:px-4">
        <div>
            <div class="lg:hidden" data-menu-button-open>
                {% include 'icons/hamburguer_icon.html' %}
            </div>
            <a class="btn btn-ghost text-xl text-white" href="{% url 'pagina_inicial' %}">
                GetServices
            </a>
        </div>
        <nav class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a class="text-white">Item 1</a></li>
                <li>
                    <details>
                        <summary class="text-white">Parent</summary>
                        <ul class="p-2">
                            <li><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </details>
                </li>
                <li><a class="text-white">Item 3</a></li>
            </ul>
        </nav>
        <div>
            {% if request.user.is_anonymous %}
                <a class="btn" href="{% url 'pagina_login' %}">Fazer login</a>
            {% else %}
                <form action="{% url 'pagina_logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Sair</button>
                </form>
            {% endif %}
        </div>
    </div>
</header>