<header class="sticky top-0 bg-primary max-sm:px-4 min-h-20 z-10">
    <div class="navbar w-auto max-w-6xl mx-auto px-12 box-content justify-between max-sm:px-4">
        <div>
            <div class="lg:hidden" data-menu-button-open>
                {% include 'icons/hamburguer_icon.html' %}
            </div>
            <a class="btn btn-ghost text-xl text-white" href="{% url 'pagina_inicial' %}">
                GetServices
            </a>
        </div>
        <nav class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1 text-white">
                {% if is_profissional_autenticado %}
                    <li>
                        <a href="{% url 'horarios_resumo' %}">Horários</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div>
            {% if request.user.is_anonymous %}
                <a class="btn" href="{% url 'pagina_login' %}">Fazer login</a>
            {% else %}
                <form action="{% url 'pagina_logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Sair</button>
                </form>
            {% endif %}
        </div>
    </div>
</header>