<div data-modal-background class="bg-zinc-800 fixed inset-0 opacity-75 z-10 hidden"></div>
<div data-modal class="bg-white fixed w-96 z-20 top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 flex flex-col justify-start items-center p-4 box-content rounded-md gap-4 hidden">
  <span data-modal-close class="text-[1.5rem] w-4 h-4 leading-4 text-zinc-400 absolute top-4 right-4 cursor-pointer">
    &times;
  </span>
  <h2 class="font-bold text-2xl text-center">Criar Agendamento</h2>
  <form class="flex flex-col gap-4" action="{% url 'cadastrar_agendamento' profissional.slug %}" method="post">
    {% if ha_horario_livre %}
      {{ form.errors }}
      {% csrf_token %}
      <p class="text-center">Selecione um horário para realizar um agendamento</p>
      <input type="hidden" name="profissional" id="id_profissional" value="{{ profissional.id }}">
      <input type="hidden" name="cliente" id="id_cliente" value="{{ user.cliente.id }}">
      <select class="p-2" name="horario" id="id_horario">
        {% for horario in horarios %}
          {% if horario.vago %}
            <option value="{{ horario.id }}">{{ horario.data_inicio|date:"d/m" }} / {{ horario.data_inicio|date:"H:i" }} - {{ horario.data_fim|date:"H:i" }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button class="bg-blue-500 text-white p-2" type="submit">Propor Agendamento</button>
    {% else %}
      <span class="text-center max-w-sm m-auto">Não há horário disponíveis no momento. Tente novamente mais tarde.</span>
    {% endif %}
  </form>
</div>