<table class="bg-zinc-200 flex flex-col gap-2 p-4">
  <thead>
      <tr>
          <th>211 Avaliações</th>
      </tr>
  </thead>
  <tbody>
      <tr class="flex gap-2 justify-center">
          <td>{% include 'partials/stars.html' with immutable=True rating=5 %}</td>
          <td>80</td>
      </tr>
      <tr class="flex gap-2 justify-center">
          <td>{% include 'partials/stars.html' with immutable=True rating=4 %}</td>
          <td>80</td>
      </tr>
      <tr class="flex gap-2 justify-center">
          <td>{% include 'partials/stars.html' with immutable=True rating=3 %}</td>
          <td>80</td>
      </tr>
      <tr class="flex gap-2 justify-center">
          <td>{% include 'partials/stars.html' with immutable=True rating=2 %}</td>
          <td>80</td>
      </tr>
      <tr class="flex gap-2 justify-center">
          <td>{% include 'partials/stars.html' with immutable=True rating=1 %}</td>
          <td>80</td>
      </tr>
  </tbody>
</table>