{% extends 'layout/base.html' %}


{% block title %} Cadastrar Horário {% endblock title %}


{% block content %}
<div class="max-w-2xl mx-auto">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Cadastre seus horários</h1>


            <form method="post" class="space-y-4">
                {% csrf_token %}

                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">{{ form.data }}</span>
                    </div>
                </label>

                <div class="label">
                    <span class="label-text">{{ form.vago }}</span>
                </div>

                <div class="card-actions items-center justify-between">
                    <button type="submit" class="btn btn-primary block">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}